<!DOCTYPE html>
<html>
<head>
    <title>Соцсеть 📸</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1><a href="{% url 'dashboard' %}">Соцсеть</a></h1>
        {% if user.is_authenticated %}
            <nav>
                <a href="{% url 'edit' %}">Редактировать</a>
                <a href="{% url 'user_list' %}">Пользователи</a>
                <a href="{% url 'image_list' %}">Изображения</a>
                <a href="{% url 'image_create' %}">Добавить пост</a>
            </nav>
            <p>Привет, {{ user.username }}!</p>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
        {% else %}
            <nav>
                <a href="{% url 'login' %}">Войти</a>
                <a href="{% url 'register' %}">Зарегистрироваться</a>
            </nav>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>